<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg" style="background-image: url('assets/images/bg/breadcrumb_bg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content position-relative">
                    <h2 class="title">Contact Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a [routerLink]="['/home']">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

<!-- contact-area -->
<section class="contact-area contact-bg" style="background-image: url('assets/images/bg/contact_bg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="contact-form-wrap">
                    <div class="widget-title mb-50">
                        <h5 class="title">Contact Form</h5>
                    </div>
                    <div class="contact-form">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="You Name *">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" placeholder="You  Email *">
                                </div>
                            </div>
                            <input type="text" placeholder="Subject *">
                            <textarea name="message" placeholder="Type Your Message..."></textarea>
                            <button class="btn">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="widget-title mb-50">
                    <h5 class="title">Information</h5>
                </div>
                <div class="contact-info-wrap">
                    <p>
                        <span>Find solutions :</span> to common problems, or get help from a support agent industry's
                        standard .
                    </p>
                    <div class="contact-info-list">
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <p>
                                    <span>Address :</span> W38 Park Road New York
                                </p>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <p>
                                    <span>Phone :</span> (09) 123 854 365
                                </p>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <p>
                                    <span>Email :</span>
                                    <a>support@movflx.com</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-area-end -->

<!-- map -->
<div id="map">
    <iframe width="100%" height="439" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=26%20July%20St%20,%20Cairo,%20Egypt+(Cinema)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        <a href="https://www.gps.ie/truck-gps/">
            fleet tracking gps
        </a>
    </iframe>
</div>
<!-- map-end -->