<!-- header-area -->
<header>
    <div id="sticky-header" class="menu-area transparent-header">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div (click)="menuToggle()" class="mobile-nav-toggler">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="menu-wrap">
                        <nav class="menu-nav show">
                            <div class="logo">
                                <a href="#">
                                    <img src="assets/images/logo.png" alt="Logo">
                                </a>
                            </div>
                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    <li class="active">
                                        <a (click)="goToPage($event)" href="#" urlPath="home">Home</a>
                                    </li>
                                    <li>
                                        <a (click)="goToPage($event)" href="#" urlPath="movie">Movie</a>
                                    </li>
                                    <li>
                                        <a (click)="goToPage($event)" href="#" urlPath="tv">tv show</a>
                                    </li>
                                    <li>
                                        <a (click)="goToPage($event)" href="#" urlPath="contact">contacts</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-action d-none d-md-block">
                                <ul>
                                    <li class="header-search">
                                        <a (click)="showModel($event)" href="#" data-toggle="modal"
                                            data-target="#search-modal">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </li>
                                    <li *ngIf="(_angularFireAuth.authState | async) === null" class="header-btn">
                                        <a routerLink="signin" class="btn">Sign In</a>
                                    </li>
                                    <li *ngIf="(_angularFireAuth.authState | async)" class="header-btn">
                                        <a href="#" (click)="logout($event)" class="btn">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <!-- Mobile Menu  -->
                    <div class="mobile-menu">
                        <div (click)="menuToggle()" class="close-btn">
                            <i class="fas fa-times"></i>
                        </div>
                        <nav class="menu-box">
                            <div class="nav-logo">
                                <a href="#">
                                    <img src="assets/images/logo.png" alt="" title="">
                                </a>
                            </div>
                            <div class="menu-outer">
                                <ul class="navigation">
                                    <li class="active">
                                        <a (click)="goToPage($event)" href="#" urlPath="home">Home</a>
                                    </li>
                                    <li>
                                        <a (click)="goToPage($event)" href="#" urlPath="movie">Movie</a>
                                    </li>
                                    <li>
                                        <a (click)="goToPage($event)" href="#" urlPath="tv">tv show</a>
                                    </li>
                                    <li>
                                        <a (click)="goToPage($event)" href="#" urlPath="contact">contacts</a>
                                    </li>
                                    <li *ngIf="(_angularFireAuth.authState | async) === null">
                                        <a (click)="goToPage($event)" href="#" urlPath="signin">Sign In</a>
                                    </li>
                                    <li *ngIf="(_angularFireAuth.authState | async)">
                                        <a href="#" (click)="logout($event)">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="social-links">
                                <ul class="clearfix">
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="menu-backdrop"></div>
                    <!-- End Mobile Menu -->

                    <!-- Modal Search -->
                    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" (click)="showModel($event)">
                                <form>
                                    <input type="text" placeholder="Search here...">
                                    <button><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Search-end -->



                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-area-end -->