
/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
 body {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 14px;
	color: #bcbcbc;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.btn:focus,
.button:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	margin-top: 0px;
	font-style: normal;
	font-weight: 700;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	color: #bcbcbc;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}

/* All-color */
.navbar-wrap > ul > li.active > a,
.navbar-wrap > ul > li:hover > a,
.mobile-menu .navigation li.active > a,
.header-lang form .icon,
.banner-content .sub-title,
.banner-content .title > span,
.banner-meta ul li.release-time > span > i,
.banner-meta ul li.category > a:hover,
.section-title .sub-title,
.movie-content .top .date,
.movie-content .bottom ul li .quality,
.movie-content .bottom ul li > span i,
.movie-content .top .title a:hover,
.ucm-active .owl-nav button:hover,
.ucm-active-two .owl-nav button:hover,
.tr-movie-menu-active button.active,
.footer-menu nav .navigation li:hover > a,
.quick-link-list ul li a:hover,
.footer-social ul li a:hover,
.copyright-text > p > a,
.mobile-menu .social-links li a:hover,
.header-top-link .quick-link li a:hover,
.header-top-link .header-social li a:hover,
.header-top-subs > p > span,
.movie-item-two .movie-content .title a:hover,
.movie-content-bottom ul li.tag a:hover,
.breadcrumb-content .breadcrumb li a,
.breadcrumb-content .title > span {
	color: #e4d804;
}
.scroll-top,
.btn:hover,
.navbar-wrap > ul > li .submenu li a::before,
.title-style-two .sub-title::before,
.services-list ul li .icon::before,
.tr-movie-menu-active button::before,
.tr-movie-menu-active button::after {
	background: #e4d804;
}

/* button style */
.btn {
    user-select: none;
    -moz-user-select: none;
    background: #12151e none repeat scroll 0 0;
    border: 2px solid #e4d804;
    border-radius: 50px;
    color: #e3dfdf;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 16px 34px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 200px;
}
.btn > i {
    margin-right: 7px;
}
.header-action .header-btn .btn:hover,
.btn:hover {
	color: #1e1b29;
}
.breadcrumb > .active {
	color: #888;
}
.slick-slide:focus {
	outline: none;
}